################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/ReactHangman/bin
/ReactHangman/obj/Debug
/.vs/config
